<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
  </head>
  <body>
    <input type="text" name="" value="">
    <input type="text" name="" value="">
    <input type="button" name="" value="提交">
    <script type="text/javascript">
      $(function(){

          $.ajax({
            url: "/login",
            type: "post",
            data: {
              mobile: "15170255838",
              password: "123456"
            },
            success: function(){

            }
          })

      })
    </script>
  </body>
</html>
